.cardCategory{
  background-color:#ffffff;
  border-radius: 28px;              
  border: 1px solid #e0e0e0;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
}


