.footer {
  margin-top: 40px;
  background-color: #24262b;
  padding: 80px 0;
}

.contFooter {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
}

.footer-links {
  width: 25%;
  padding: 0 15px;
  box-sizing: border-box;
}

.footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links h4 {
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 25px;
  font-weight: 500;
  border-bottom: 2px solid #00c3ff;
  display: inline-block;
}

.footer-links ul li a {
  font-size: 18px;
  text-decoration: none;
  color: #bbbbbb;
  display: block;
  margin-bottom: 15px;
  transition: all 0.3s ease;
}

.footer-links ul li a:hover {
  color: #ffffff;
  padding-left: 6px;
}

.social-links a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin-right: 10px;
  border-radius: 50%;
  color: #ffffff; /* Color blanco para los íconos */
  text-decoration: none;
  font-size: 18px;
  transition: all 0.5s ease;
}

.social-links a:hover {
  color: #24262b;
  background-color: #00c3ff;
}

.socialink a{
  display: inline-block;
  min-height: 40px;
  width: 40px;
  background-color: rgba(225, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all .5s ease;
}

.socialink a:hover{
    background-color: #00c3ff;
}

@media(max-width: 991px){
  .footer-row{
    text-align: center;
  }
  .footer-links{
    width: 100%;
    margin-bottom: 30px;

  }

}